.line {
    background-color: #a993fe;
    height: 20px;
    width: 100%;
    margin-top: 5px;
  }

.section-title {
    margin: 40px 30px 20px 30px;
}

.section-title span {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}